.row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row-weather-on {
    background-size: cover;
}

.row-weather-front {
    background-image: url('./../../assets/frost-bg.png');
}

.row-weather-middle {
    background-image: url('./../../assets/fog-bg.png');
}

.row-weather-back {
    background-image: url('./../../assets/rain-bg.png');
}
